.card {
    aspect-ratio: 2 / 3;
    height: 100%;
    width: auto;
    border-radius: 16px;
    border: none;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #fff;
    color: #000;
    padding: 10px;
    position: relative;
    isolation: isolate;
    cursor: pointer;

    &:hover {
        .card__actions {
            opacity: 1;
        }
    }

    &--stack {
        background-color: #642121;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__actions,
    &__inner {
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        /** opacity: 0; */
    }

    &__inner {
        opacity: 1;
    }
}