.engine {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 2fr 1fr;
    height: 100svh;
    width: 100svw;
    grid-template-areas:
        'dungeon room room'
        'hand hand discard';

    * {
        min-height: 0;
        min-width: 0;
    }

    .hand {
        grid-area: hand;
        background: rgb(238, 201, 201);
    }

    .dungeon {
        grid-area: dungeon;
    }

    .room {
        grid-area: room;
        background: #5a6972;

    }

    .discard {
        grid-area: discard;
        background: #f5f5f5;
    }
}